<?xml version="1.0" encoding="utf-8" ?>
<ProxyConfig allowedReferers="*"
             mustMatch="true">
    <serverUrls>
        <!-- Authenticates the Web Map -->
        <serverUrl 
        	 url="http://YOUR_PORTAL"
             clientId="YOUR_ID"
             clientSecret="YOUR_SECRET"
             oauth2Endpoint="https://YOUR_PORTAL/sharing/oauth2/"
             matchAll="true"/>
        <!-- Authenticates the Feature Service -->
        <serverUrl 
        	 url="http://services.arcgis.com"
             clientId="YOUR_ID"
             clientSecret="YOUR_SECRET"
             oauth2Endpoint="https://YOUR_PORTAL/sharing/oauth2/"
             matchAll="true"/>
    </serverUrls>
</ProxyConfig>

<!-- See https://github.com/Esri/resource-proxy for more information -->
